
appx-installs/AppxManifest.xml
appx-installs/filelist.txt
appx-installs/makepri.exe
appx-installs/MakePri.ps1
appx-installs/pri/resources.language-af.pri
appx-installs/pri/resources.language-ar.pri
appx-installs/pri/resources.language-az-latn.pri
appx-installs/pri/resources.language-bg.pri
appx-installs/pri/resources.language-bs.pri
appx-installs/pri/resources.language-ca.pri
appx-installs/pri/resources.language-cs.pri
appx-installs/pri/resources.language-cy.pri
appx-installs/pri/resources.language-da.pri
appx-installs/pri/resources.language-de.pri
appx-installs/pri/resources.language-el.pri
appx-installs/pri/resources.language-es.pri
appx-installs/pri/resources.language-et.pri
appx-installs/pri/resources.language-eu.pri
appx-installs/pri/resources.language-fa.pri
appx-installs/pri/resources.language-fi.pri
appx-installs/pri/resources.language-fr.pri
appx-installs/pri/resources.language-gl.pri
appx-installs/pri/resources.language-he.pri
appx-installs/pri/resources.language-hi.pri
appx-installs/pri/resources.language-hr.pri
appx-installs/pri/resources.language-hu.pri
appx-installs/pri/resources.language-id.pri
appx-installs/pri/resources.language-is.pri
appx-installs/pri/resources.language-it.pri
appx-installs/pri/resources.language-ja.pri
appx-installs/pri/resources.language-ka.pri
appx-installs/pri/resources.language-kk.pri
appx-installs/pri/resources.language-ko.pri
appx-installs/pri/resources.language-lt.pri
appx-installs/pri/resources.language-lv.pri
appx-installs/pri/resources.language-ms.pri
appx-installs/pri/resources.language-nb.pri
appx-installs/pri/resources.language-nl.pri
appx-installs/pri/resources.language-nn.pri
appx-installs/pri/resources.language-pl.pri
appx-installs/pri/resources.language-pt.pri
appx-installs/pri/resources.language-qps-ploc.pri
appx-installs/pri/resources.language-qps-ploca.pri
appx-installs/pri/resources.language-qps-plocm.pri
appx-installs/pri/resources.language-ro.pri
appx-installs/pri/resources.language-ru.pri
appx-installs/pri/resources.language-sk.pri
appx-installs/pri/resources.language-sl.pri
appx-installs/pri/resources.language-sq.pri
appx-installs/pri/resources.language-sr-cyrl.pri
appx-installs/pri/resources.language-sr-latn.pri
appx-installs/pri/resources.language-sv.pri
appx-installs/pri/resources.language-th.pri
appx-installs/pri/resources.language-tr.pri
appx-installs/pri/resources.language-uk.pri
appx-installs/pri/resources.language-vi.pri
appx-installs/pri/resources.language-zh-hans.pri
appx-installs/pri/resources.language-zh-hant.pri
appx-installs/pri/resources.scale-100.pri
appx-installs/pri/resources.scale-125.pri
appx-installs/pri/resources.scale-150.pri
appx-installs/pri/resources.scale-400.pri
appx-installs/product.vhdx
appx-installs/product.vhdx.001
appx-installs/product.vhdx.002
appx-installs/product.vhdx.003
appx-installs/product.vhdx.004
appx-installs/product.vhdx.005
appx-installs/product.vhdx.006
appx-installs/product.vhdx.007
appx-installs/product.vhdx.008
appx-installs/product.vhdx.009
appx-installs/product.vhdx.010
appx-installs/product.vhdx.011
appx-installs/product.vhdx.012
appx-installs/product.vhdx.013
appx-installs/product.vhdx.014
appx-installs/product.vhdx.015
appx-installs/resources.pri
appx-installs/system.vhdx
appx-installs/system.vhdx.001
appx-installs/system.vhdx.002
appx-installs/system.vhdx.003
appx-installs/system.vhdx.004
appx-installs/system.vhdx.005
appx-installs/system.vhdx.006
appx-installs/system.vhdx.007
appx-installs/system.vhdx.008
appx-installs/system.vhdx.009
appx-installs/system.vhdx.010
appx-installs/system.vhdx.011
appx-installs/system.vhdx.012
appx-installs/system.vhdx.013
appx-installs/system.vhdx.014
appx-installs/system.vhdx.015
appx-installs/system.vhdx.016
appx-installs/system.vhdx.017
appx-installs/system.vhdx.018
appx-installs/system.vhdx.019
appx-installs/system_ext.vhdx
appx-installs/system_ext.vhdx.001
appx-installs/system_ext.vhdx.002
appx-installs/system_ext.vhdx.003
appx-installs/system_ext.vhdx.004
appx-installs/vendor.vhdx
appx-installs/vendor.vhdx.001
appx-installs/vendor.vhdx.002
appx-installs/vendor.vhdx.003
appx-installs/vendor.vhdx.004
appx-installs/vendor.vhdx.005
appx-installs/xml/priconfig.xml
appx-installs/xml/resources.language-af.xml
appx-installs/xml/resources.language-ar.xml
appx-installs/xml/resources.language-az-latn.xml
appx-installs/xml/resources.language-bg.xml
appx-installs/xml/resources.language-bs.xml
appx-installs/xml/resources.language-ca.xml
appx-installs/xml/resources.language-cs.xml
appx-installs/xml/resources.language-cy.xml
appx-installs/xml/resources.language-da.xml
appx-installs/xml/resources.language-de.xml
appx-installs/xml/resources.language-el.xml
appx-installs/xml/resources.language-es.xml
appx-installs/xml/resources.language-et.xml
appx-installs/xml/resources.language-eu.xml
appx-installs/xml/resources.language-fa.xml
appx-installs/xml/resources.language-fi.xml
appx-installs/xml/resources.language-fr.xml
appx-installs/xml/resources.language-gl.xml
appx-installs/xml/resources.language-he.xml
appx-installs/xml/resources.language-hi.xml
appx-installs/xml/resources.language-hr.xml
appx-installs/xml/resources.language-hu.xml
appx-installs/xml/resources.language-id.xml
appx-installs/xml/resources.language-is.xml
appx-installs/xml/resources.language-it.xml
appx-installs/xml/resources.language-ja.xml
appx-installs/xml/resources.language-ka.xml
appx-installs/xml/resources.language-kk.xml
appx-installs/xml/resources.language-ko.xml
appx-installs/xml/resources.language-lt.xml
appx-installs/xml/resources.language-lv.xml
appx-installs/xml/resources.language-ms.xml
appx-installs/xml/resources.language-nb.xml
appx-installs/xml/resources.language-nl.xml
appx-installs/xml/resources.language-nn.xml
appx-installs/xml/resources.language-pl.xml
appx-installs/xml/resources.language-pt.xml
appx-installs/xml/resources.language-qps-ploc.xml
appx-installs/xml/resources.language-qps-ploca.xml
appx-installs/xml/resources.language-qps-plocm.xml
appx-installs/xml/resources.language-ro.xml
appx-installs/xml/resources.language-ru.xml
appx-installs/xml/resources.language-sk.xml
appx-installs/xml/resources.language-sl.xml
appx-installs/xml/resources.language-sq.xml
appx-installs/xml/resources.language-sr-cyrl.xml
appx-installs/xml/resources.language-sr-latn.xml
appx-installs/xml/resources.language-sv.xml
appx-installs/xml/resources.language-th.xml
appx-installs/xml/resources.language-tr.xml
appx-installs/xml/resources.language-uk.xml
appx-installs/xml/resources.language-vi.xml
appx-installs/xml/resources.language-zh-hans.xml
appx-installs/xml/resources.language-zh-hant.xml
appx-installs/xml/resources.scale-100.xml
appx-installs/xml/resources.scale-125.xml
appx-installs/xml/resources.scale-150.xml
appx-installs/xml/resources.scale-400.xml
*.pri
